<div class="view-container" *ngIf="encounter">
  <header class="view-header">
    <input type="text" class="title-input" [(ngModel)]="encounter.name" (change)="saveEncounter()">
    <button class="action-btn btn-danger" (click)="openDeleteModal()">[ DELETE ENCOUNTER ]</button>
  </header>

  <div class="view-content">
    <div class="hakari-form-group">
      <label>DIFFICULTY</label>
      <select class="hakari-input" [(ngModel)]="encounter.difficulty" (change)="saveEncounter()">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
        <option value="Deadly">Deadly</option>
      </select>
    </div>
    <div class="hakari-form-group">
      <label>DETAILS / TACTICS</label>
      <textarea class="hakari-input description-area" [(ngModel)]="encounter.description" (change)="saveEncounter()"></textarea>
    </div>
  </div>

  <app-confirm-modal
    *ngIf="isDeleteModalOpen"
    title="DELETE ENCOUNTER"
    message="This will permanently erase the entity from the campaign database. Proceed?"
    confirmText="ERASE"
    (confirm)="confirmDelete()"
    (close)="closeDeleteModal()">
  </app-confirm-modal>
</div>